<section class="footer u-full-width">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h5>&copy 2018 Aabo Technologies</h5>
        <p>All rights reserved</p>
      </div>
    </div>
  </div>
</section>