<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    {{!-- STYLE --}}
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    {{!-- JS --}}
    <script src="../js/bootstrap.bundle.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
        {{!-- FONTS --}}
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

</head>

<body>
    {{>navbar}}
    <div class="container">
        {{{body}}}
    </div>
</body>
{{>footer}}

</html>