<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="description" content="Martin's Personal Portfolio Website">
    <meta name="author" content="Fernando Martin Garcia Del Angel">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=0">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/custom.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="images/favicon.png">

    <!-- Javascript –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script type="text/javascript" src="js/all.js"></script>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="js/scrollreveal.js"></script>
    <script type="text/javascript" src="js/jquery.singlePageNav.min.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
</head>

<body>
    {{>navbar}}
    {{{body}}}
</body>
{{>footer}}

</html>