<div class="jumbotron jumbotron-fluid" style="background-color:snow;text-align:center">
  <div class="container">
    <h1 class="display-4">Hello</h1>
    <p class="lead">This is my personal portfolio</p>
    <p>I'm a Software Engineer based in Mexico City</p>
  </div>
</div>

