<!-- Introduction -->

<section data-sr id="introduction" class="introduction u-full-width">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h2><b>Martin</b> is a software engineer who is passionate about technology and strives to create solutions
          that make peoples' lives better</h2>
      </div>
    </div>
  </div>
  <div class="introduction-social">
    <ul class="social-links">
      <li>
        <a rel="noopener" href="https://twitter.com/A01334390" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li>
        <a rel="noopener" href="https://github.com/a01334390" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li>
        <a rel="noopener" href="https://www.linkedin.com/in/martingarciadelangel/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
    </ul>
  </div>
</section>




<!-- Work -->

<section data-sr id="work" class="work u-full-width">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h3 class="separator">Work</h3>
      </div>
    </div>
    <div class="row">
      <ul class="work-filters u-full-width">
        <li class="active">
          <a href="#" data-filter="*">All</a>
        </li>
        <li>
          <a href="#" data-filter=".web">Web</a>
        </li>
        <li>
          <a href="#" data-filter=".desktop">Desktop</a>
        </li>
        <li>
          <a href="#" data-filter=".mobile">Mobile</a>
        </li>
        <li>
          <a href="#" data-filter=".blockchain">Blockchain</a>
        </li>
        <li>
          <a href="#" data-filter=".design">Graphic Design</a>
        </li>
        <li>
          <a href="#" data-filter=".conference">Conferences and speeches</a>
        </li>
        <li>
          <a href="#" data-filter=".others">Others</a>
        </li>
      </ul>
    </div>
    <div class="row">
      <ul class="work-items isotope js-isotope u-cf" onclick="">
        <li class="four columns isotope-item desktop blockchain">
          <img alt="La constelacion de Lyra" src="images/portfolio/lyra-img.jpg">
          <div class="work-detail">
            <div class="vertical-centered">
              <p class="separator orange">Lyra</p>
              <p>Distributed Payment System</p>
              {{!-- Link --}}
              <a class="work-links"rel="noopener" href="https://github.com/a01334390/Lyra" target="_blank">
                <i class="fab fa-github"></i>
              </a>
              {{!-- Link --}}
            </div>
          </div>
        </li>
        <li class="four columns isotope-item web design">
          <img alt="Imagen de Noor" src="images/portfolio/noor-img.jpg">
          <div class="work-detail">
            <div class="vertical-centered">
              <p class="separator orange">Noor</p>
              <p>Personal Portfolio Website</p>
              {{!-- Link --}}
              <a class="work-links"rel="noopener" href="https://github.com/a01334390/Noor" target="_blank">
                <i class="fab fa-github"></i>
              </a>
              {{!-- Link --}}
            </div>
          </div>
        </li>
        <li class="four columns isotope-item web">
          <img alt="La imagen de una supernova" src="images/portfolio/nova-img.jpg">
          <div class="work-detail">
            <div class="vertical-centered">
              <p class="separator orange">Nova</p>
              <p>Medical record management system</p>
              {{!-- Link --}}
              <a class="work-links"rel="noopener" href="https://github.com/a01334390/Nova" target="_blank">
                <i class="fab fa-github"></i>
              </a>
              {{!-- Link --}}
            </div>
          </div>
        </li>
        <li class="four columns isotope-item mobile desktop web">
          <img alt="Imagen del mundo de Aprix" src="images/portfolio/aprix-img.png">
          <div class="work-detail">
            <div class="vertical-centered">
              <p class="separator orange">Aprix</p>
              <p>3D multiplayer racing game</p>
              {{!-- Link --}}
              <a class="work-links"rel="noopener" href="https://github.com/a01334390/Aprix" target="_blank">
                <i class="fab fa-github"></i>
              </a>
              {{!-- Link --}}
            </div>
          </div>
        </li>
        <li class="four columns isotope-item mobile design">
          <img alt="Turquesa" src="images/portfolio/turquoise-img.jpg">
          <div class="work-detail">
            <div class="vertical-centered">
              <p class="separator orange">Turquoise</p>
              <p>AR+ML Powered iOS App</p>
              {{!-- Link --}}
              <a class="work-links"rel="noopener" href="https://github.com/a01334390/Turquoise" target="_blank">
                <i class="fab fa-github"></i>
              </a>
              {{!-- Link --}}
            </div>
          </div>
        </li>
        <li class="four columns isotope-item design">
          <img alt="El mundo de Aprix" src="images/portfolio/aprix-world-img.png">
          <div class="work-detail">
            <div class="vertical-centered">
              <p class="separator orange">Aprix's world</p>
              <p>3D Modeling the world and characters</p>
              {{!-- Link --}}
              <a class="work-links"rel="noopener" onclick="comingSoon()" target="_blank">
                <i class="fab fa-behance"></i>
              </a>
              {{!-- Link --}}
            </div>
          </div>
        </li>
        <li class="four columns isotope-item design">
          <img alt="El magnanimo logo de Aabo" src="images/portfolio/aabo-img.png">
          <div class="work-detail">
            <div class="vertical-centered">
              <p class="separator orange">Aabo Technologies</p>
              <p>Branding for our blockchain company</p>
              {{!-- Link --}}
              <a class="work-links"rel="noopener" onclick="comingSoon()" target="_blank">
                <i class="fab fa-behance"></i>
              </a>
              {{!-- Link --}}
            </div>
          </div>
        </li>
        <li class="four columns isotope-item web">
          <img alt="Una imagen de la luna" src="images/portfolio/luna-img.jpg">
          <div class="work-detail">
            <div class="vertical-centered">
              <p class="separator orange">Luna</p>
              <p>Inventory and Sales Management System</p>
              {{!-- Link --}}
              <a class="work-links"rel="noopener" href="https://github.com/a01334390/Luna" target="_blank">
                <i class="fab fa-github"></i>
              </a>
              {{!-- Link --}}
            </div>
          </div>
        </li>
        <li class="four columns isotope-item design others">
          <img alt= "Foto de los cuatro personajes del video musical" src="images/portfolio/tieduprightnow-img.png">
          <div class="work-detail">
            <div class="vertical-centered">
              <p class="separator orange">tieduprightnow</p>
              <p>Mocap acted music video</p>
              {{!-- Link --}}
              <a class="work-links"rel="noopener" onclick="comingSoon()" target="_blank">
                <i class="fab fa-behance"></i>
              </a>
              {{!-- Link --}}
            </div>
          </div>
        </li>
        <li class="four columns isotope-item design others">
          <img alt="Poster de la publicacion mensual el tocador" src="images/portfolio/tocador-img.png">
          <div class="work-detail">
            <div class="vertical-centered">
              <p class="separator orange">El Tocador</p>
              <p>School's monthly publication</p>
              {{!-- Link --}}
              <a class="work-links"rel="noopener" onclick="comingSoon()" target="_blank">
                <i class="fab fa-behance"></i>
              </a>
              {{!-- Link --}}
            </div>
          </div>
        </li>
        <li class="four columns isotope-item conference blockchain">
          <img alt="Hyperledger Fabric Meetup in Switzerland" src="images/portfolio/hyperledger-swiss-img.png">
          <div class="work-detail">
            <div class="vertical-centered">
              <p class="separator orange">Hyperledger Meetup 2018</p>
              <p>Participated on the "People in Blockchain" panel</p>
              {{!-- Link --}}
              <a class="work-links"rel="noopener" href="https://events.linuxfoundation.org/events/hyperledger-global-forum-2018/" target="_blank">
                <i class="fab fa-linux"></i>
              </a>
              {{!-- Link --}}
            </div>
          </div>
        </li>
        <li class="four columns isotope-item conference blockchain">
          <img alt="Hyperledger Fabric Logo" src="images/portfolio/hyperledger-meetup-mx-img.jpg">
          <div class="work-detail">
            <div class="vertical-centered">
              <p class="separator orange">Hyperledger Meetup Mexico</p>
              <p>Founding member of the Mexico's Hyperledger Meetup</p>
              {{!-- Link --}}
              <a class="work-links"rel="noopener" href="https://www.meetup.com/Hyperledger-Mexico-City/" target="_blank">
                <i class="fab fa-linux"></i>
              </a>
              {{!-- Link --}}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Help -->

<section data-sr id="help" class="help u-full-width featured-bg-image">
  <h4 class="centered">
    <a class="button inverted" href="#contact">I'm here to help!</a>
  </h4>
</section>

<!-- Clients -->

<section data-sr id="clients" class="clients u-full-width">
  <div class="container">
    <div class="row">
      <h3 class="separator">Previous clients</h3>
    </div>
    <ul class="clients u-full-width u-cf">
      <li>
        <img src="images/clients/tecnologico-de-monterrey-blue.png" alt="ITESM Client">
      </li>
      <li>
        <img src="images/clients/Banorte.png" alt="Banorte Client">
      </li>
      <li>
        <img src="images/clients/Logotipo-INMEGEN.png" alt="INMEGEN Client">
      </li>
      <li>
        <img src="images/clients/ibm.png" alt="IBM Client">
      </li>
    </ul>
  </div>
  </div>
</section>


<!-- Why us -->

<section data-sr id="why-me" class="why u-full-width">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h3 class="separator">Why me?</h3>
        <h4>Working on the public and private sector for over 5 years, I've earned the experience to strategically
          manage multicultural, multiskill, and globally distributed teams to develop the solution you need.</h4>
      </div>
    </div>

    <div class="row">
      <ul class="services">
        <li class="four columns">
          <div class="service-image">
            <img alt="Network of people" src="images/services/network.png">
          </div>
          <h5>Project Management</h5>
          <p>I've played the SCRUM Master role for multiple projects, creating the right environment to allow the team
            to create the right value for the organization.</p>
        </li>
        <li class="four columns">
          <div class="service-image">
            <img alt="Computer with a cloud" src="images/services/cloud-computing.png">
          </div>
          <h5>Full Stack Developer</h5>
          <p>As part of a development team, I've worked on the Front-End, Back-End, Deployment, and Q&A roles when it
            was needed.</p>
        </li>
        <li class="four columns">
          <div class="service-image">
            <img alt="Computer with several cables" src="images/services/computer.png">
          </div>
          <h5>Graphic Designer</h5>
          <p>With over 7 years of experience, I've helped companies with their graphic design needs ranging from simple
            posters all the way to complete brand identities. I've now learn how to model in 3D and create videos using
            Motion Capture techniques.</p>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Quote -->

<section data-sr id="quote" class="quote featured-bg-image u-full-width">
  <h4 class="centered">
    <button class="button inverted">Get a quote now.</button>
  </h4>
</section>

<!-- Contact -->

<section data-sr id="contact" class="contact u-full-width">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h3 class="separator">Let's create something, together</h3>
      </div>
    </div>
  </div>
</section>

<!-- Contact Us -->

<section data-sr class="container contact-us u-full-width u-max-full-width">
  <div class="row">
    <div class="four columns contact-us-details">
      <h3>Where you can find me</h3>
      <h5>
        Calle del Puente 222 <br />
        Col. Ejidos de Huipulco <br />
        CDMX, Mexico <br />
        Martin Garcia</h5>
      <ul class="social-links">
        <li>
          <a rel="noopener" href="https://twitter.com/A01334390" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a rel="noopener" href="https://github.com/a01334390" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li>
          <a rel="noopener" href="https://www.linkedin.com/in/martingarciadelangel/" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="eight columns contact-us-form">
      <form>
        <div class="row">
          <div class="six columns">
            <input class="u-full-width" type="text" placeholder="Name" id="nameInput">
          </div>
          <div class="six columns">
            <input class="u-full-width" type="email" placeholder="Email" id="emailInput">
          </div>
        </div>
        <textarea class="u-full-width" placeholder="Message" id="messageInput"></textarea>
        <input class="button u-pull-right" onclick="send()" type="submit" value="Send">
      </form>

    </div>
  </div>
</section>

<script>
    function comingSoon(){
        window.location.href = "/coming-soon"
    }

    function send(){
      alert("I'll contact you soon!")
    }
</script>