{{!-- Introduction --}}
<section id="introduction" class="introduction u-full-width">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h3>
          I'm a Software Engineer passionate about creating solutions that help people and societies.
        </h3>
      </div>
    </div>
  </div>
</section>

{{!-- Work --}}
<section id="projects" class="work u-full-width">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h3 class="separator">Projects</h3>
      </div>
    </div>
    {{!-- List of projects --}}
    <div class="row">
      <ul class="work-filters u-full-width">
        <li class="active">
          <a href="#">All</a>
        </li>
        <li>
          <a href="#">Web</a>
        </li>
        <li>
          <a href="#">Desktop</a>
        </li>
        <li>
          <a href="#">Mobile</a>
        </li>
        <li>
          <a href="#">Blockchain</a>
        </li>
        <li>
          <a href="#">Graphic Design</a>
        </li>
      </ul>
    </div>
    {{!-- Work items --}}
    {{!-- FUTURE: Make this dynamic --}}
    <div class="row">
      <ul class="work-items u-cf">
        <li class="four columns">
          <img src="http://placehold.it/400">
          <div class="work-detail">
            <div class="vertical-centered">
              <h3>Blockchain</h3>
              <h4>Lyra</h4>
              <p class="separator orange">Financial Back-End built on Hyperledger Fabric</p>
            </div>
          </div>
        </li>
        <li class="four columns">
          <img src="http://placehold.it/400">
          <div class="work-detail">
            <div class="vertical-centered">
              <h3>Web</h3>
              <h4>Noor</h4>
              <p class="separator orange">Personal portfolio website built on Node.js</p>
            </div>
          </div>
        </li>
        <li class="four columns">
          <img src="http://placehold.it/400">
          <div class="work-detail">
            <div class="vertical-centered">
              <h3>Web</h3>
              <h4>Nova</h4>
              <p class="separator orange">Medical record management system built on Java EE</p>
            </div>
          </div>
        </li>
        <li class="four columns">
          <img src="http://placehold.it/400">
          <div class="work-detail">
            <div class="vertical-centered">
              <h3>Desktop</h3>
              <h4>Endgame</h4>
              <p class="separator orange">NFA-DFA graphical converter built on Node.js</p>
            </div>
          </div>
        </li>
        <li class="four columns">
          <img src="http://placehold.it/400">
          <div class="work-detail">
            <div class="vertical-centered">
              <h3>Desktop</h3>
              <h4>Aprix</h4>
              <p class="separator orange">3D Multiplayer Racer game built on Unity</p>
            </div>
          </div>
        </li>
        <li class="four columns">
          <img src="http://placehold.it/400">
          <div class="work-detail">
            <div class="vertical-centered">
              <h3>Graphic design</h3>
              <h4>Aabo Technologies Branding</h4>
              <p class="separator orange">Business identity for our blockchain startup using Adobe Illustrator</p>
            </div>
          </div>
        </li>
        <li class="four columns">
          <img src="http://placehold.it/400">
          <div class="work-detail">
            <div class="vertical-centered">
              <h3>Graphic Design</h3>
              <h4>3D Modelling for Aprix</h4>              
              <p class="separator orange">World and character modelling using MagicaVoxel</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

{{!-- Clients --}}
<section id="clients" class="clients u-full-width">
  <div class="container">
    <div class="row">
      <h3 class="separator">Previous clients</h3>
    </div>
    <ul class="clients u-full-width u-cf">
      <li>
        <img src="http://placehold.it/200x50" alt="ITESM Client">
      </li>
      <li>
        <img src="http://placehold.it/200x50" alt="IBM Client">
      </li>
      <li>
        <img src="http://placehold.it/200x50" alt="Banorte Client">
      </li>
      <li>
        <img src="http://placehold.it/200x50" alt="SEMEFO Client">
      </li>
      <li>
        <img src="http://placehold.it/200x50" alt="INMEGEN Client">
      </li>
    </ul>
  </div>
  </div>
</section>

<section id="why-me" class="why u-full-width">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h3 class="separator">Why me?</h3>
        <h4>pls</h4>
      </div>
    </div>
    <div class="row">
      <ul class="services">
        <li class="four columns">
          <div class="service-image">
            <img src="http://placehold.it/300x150">
          </div>
          <h5>Public and Private sector experience</h5>
          <p>Working for the private and public sector on different solutions has given me the tools and experience to create well-designed and efficient applications that support a great number of customers. </p>
        </li>
        <li class="four columns">
          <div class="service-image">
            <img src="http://placehold.it/300x150">
          </div>
          <h5>Agile and managed</h5>
          <p>As a certified SCRUM Master, I've lent my experience on several projects to strategically bring them to life on time and within budget. Currently, I'm looking forward to certify as a PMP. </p>
        </li>
        <li class="four columns">
          <div class="service-image">
            <img src="http://placehold.it/300x150">
          </div>
          <h5>Best of both worlds</h5>
          <p>I've been educated as a graphic designer as well, making me capable of producing high quality logos, posters, stationary, etc. using tools like Adobe Illustrator, Corel Draw, Sketch, and many more. </p>
        </li>
      </ul>
    </div>
  </div>
</section>

<section id="contact" class="contact u-full-width">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h3 class="separator">Let's make something together</h3>
        <h4>I can't wait to see what we can achieve this time</h4>
      </div>
    </div>
  </div>
</section>

<section class="container contact-us u-full-width u-max-full-width">
  <div class="row">
    <div class="four columns contact-us-details">
      <h3>Location</h3>
      <h5>
        Calle del Puente 222 <br />
        San Bartolo el Chico, 14380 <br />
        CDMX, Mexico <br />
        Edificio de CDTC</h5>
      <ul class="social-links">
        <li>
          <a href="http://twitter.com/a01334390" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/a01334390" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://plus.google.com/a01334390" target="_blank">
            <i class="fa fa-google-plus"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="eight columns contact-us-form">
      <form>
        <div class="row">
          <div class="six columns">
            <input class="u-full-width" type="text" placeholder="Name" id="nameInput">
          </div>
          <div class="six columns">
            <input class="u-full-width" type="email" placeholder="Email" id="emailInput">
          </div>
        </div>
        <textarea class="u-full-width" placeholder="Message" id="messageInput"></textarea>
        <input class="button u-pull-right" type="submit" value="Send">
      </form>
    </div>
  </div>
</section>