<div class="five columns" style="margin-top:15%">
    <h1>{{title}}</h1>
    <p>This is my personal portfolio page (I called her <b>{{project_name}}</b>)</p>
    <p>If you want to check out {{project_name}}'s development, click right <a href="http://github.com/a01334390/noor">here</a></p>

</div>
<div class="one column" style="margin-left: 5%">
    <div class="church">
        <div class="side left"></div>
        <div class="side front"></div>
        <div class="side right"></div>
        <div class="side back"></div>
        <div class="shadow"></div>
    </div>
</div>