<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%=project[0].name %></title>
</head>
<body>

<span><%=project[0]._id%></span>
<span><%=project[0].name %></span>
<span><%=project[0].description %></span>

</body>
</html>